.contactus-container {
  padding: 50px 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ebe8e8;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}


.contact-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
}


.contact-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff9d5;
  border-radius: 20px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contact-text {
  flex: 1;
  min-width: 300px;
}

.contact-text h1 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 10px;
}

.contact-text p {
  font-size: 1.05rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.contact-details h3 {
  font-size: 1.2rem;
  color: #111;
  margin-bottom: 5px;
}

.contact-details p {
  margin: 0;
  color: #444;
  font-size: 1rem;
}


.contact-main {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: space-between;
  align-items: stretch; 
}

.contact-form-section {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 400px;
  max-width: 700px;
  margin-top: 30px;
}

.contact-form-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #111;
}

.contact-form-section p {
  margin-bottom: 25px;
  color: #555;
  font-size: 1.05rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.input-row input {
  flex: 1;
  min-width: 200px;
}

.contact-form input,
.contact-form textarea {
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1.1rem;
  width: 100%;
}

.contact-form textarea {
  min-height: 150px;
  resize: vertical;
}


.contact-form button {
  background-color: #f74444;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%;
  align-self: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.contact-form button:hover {
  background-color: #e23636;
}

.contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 300px;
  height: 100%; 
}



.contact-image img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 85px;
}

.contactus-wrapper{
  margin-top: 100px;
}